.ck-editor__editable h1 {
    font-size: 2em;
    font-weight: bold;
    color: #333;
}

.ck-editor__editable h2 {
    font-size: 1.75em;
    font-weight: bold;
    color: #555;
}

.ck-editor__editable h3 {
    font-size: 1.5em;
    font-weight: bold;
    color: #777;
}

.ck-editor__editable h1 {
    @apply text-2xl font-bold text-gray-800;
}

.ck-editor__editable h2 {
    @apply text-xl font-bold text-gray-600;
}

.ck-editor__editable h3 {
    @apply text-lg font-bold text-gray-400;
}

.ck-editor__editable ul {
    @apply list-disc pl-5;
}

.ck-editor__editable ol {
    @apply list-decimal pl-5;
}

.ck-editor__editable li {
    @apply mb-1 text-gray-700;
}
