
* {
  box-sizing: border-box;
}

:root {
  --app-container: #f3f6fd;
  --main-color: #1f1c2e;
  --secondary-color: #4A4A4A;
  --link-color: #1f1c2e;
  --link-color-hover: #c3cff4;
  --link-color-active: #fff;
  --link-color-active-bg: #1f1c2e;
  --projects-section: #fff;
  --message-box-hover: #fafcff;
  --message-box-border: #e9ebf0;
  --more-list-bg: #fff;
  --more-list-bg-hover:  #f6fbff;
  --more-list-shadow: rgba(209, 209, 209, 0.4);
  --button-bg: #1f1c24;
  --search-area-bg: #fff;
  --message-btn: #fff;
}


html, body {
  width: 100%;
  height: 100vh;
  margin: 0;
}

body {
  background-color: var(--app-container);
}

.bg-color-primary {
    background-color: var(--projects-section);
}

.my-btn-secondary {
    background-color: var(--main-color);
    color: #fff;
}

.my-text-secondary {
    color: var(--secondary-color);
}

.bg-color-white {
    background-color: #FFF;
    color: var(--main-color);
}

.app-section {
  background-color: var(--projects-section);
  border-radius: 32px;
  padding: 32px 32px 0 32px;
}

.min-w-100 {
  min-width: 100px;
}
