:root {
    --color-primary: #E2EAFB;
    --color-secondary: #204876;
    --color-text-primary: #204876;
    --color-bg-white: #ffffff;
}


body {
    background-color: #E9E9EB;
}

.bg-color-primary {
    background-color: var(--color-primary);
}

.my-btn-secondary {
    background-color: var(--color-secondary);
    color: #fff;
}

.my-text-secondary {
    color: var(--color-text-primary);
}

.bg-color-white {
    background-color: var(--color-bg-white);
}